<div class="container sidebar-container">
  <div class="col-md-12">
    <h2>Current Game</h2>
    <h1>VS. {{currentGame.game.opponent}}</h1>
    <p>{{currentGame.game.date | date:'medium'}}</p>
    <h2>Current Players</h2>
    <span ng-hide="currentGame.game.currentPlayers.length">None</span>
    <div class="media" ng-repeat="player in currentGame.game.currentPlayers">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" ng-src="{{player.url}}" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{player.name}}</h4>
      {{player.number}}<br />
      <button ng-click="currentGame.removePlayer(player)">Remove</button>
    </div>
  </div>
  <h2>All Players</h2>
    <div class="media" ng-repeat="player in currentGame.playerList">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" ng-src="{{player.url}}" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{player.name}}</h4>
      {{player.number}}<br />
      <button ng-click="currentGame.addPlayer(player)">Add</button>
    </div>
  </div>
</div>
