<div id="wrapper">
  <div class="container sidebar-container">
    <div class="col-md-12">
      <h2>All Coupons</h2>
      <button class="btn btn-default" ng-click="coupons.openAddCoupon()">Add Coupon</button>
      <table class="table table-striped" st-table="coupons.couponList">
        <tr>
          <th>Name</th>
          <th>Points</th>
          <th>Available</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr ng-repeat="coupon in coupons.couponList">
          <td>{{coupon.name}}</td>
          <td>{{coupon.points}}</td>
          <td>{{coupon.availableCount}}</td>
          <td><i class="fa fa-edit pointer" ng-click="coupons.editCoupon(coupon)"></i></td>
          <td><i class="glyphicon glyphicon-remove pointer" ng-click="coupons.removeCoupon($index)"></i></td>
        </tr>
      </table>
    </div>
  </div>
</div>
