<div class="modal-header">
    <h3 class="modal-title">Add Coupon:</h3>
</div>
<div class="modal-body">
  <div class="container sidebar-container">
    <form name="coupon.couponForm" ng-submit="coupon.submitForm(coupon.couponForm.$valid, coupon.formData)" novalidate>
      <formly-form model="coupon.formData" fields="coupon.formFields" class="col-md-6">
        <button type="submit" class="btn btn-primary">Update Coupon</button>
        <button class="btn btn-warning" ng-click="coupon.dismiss();">Cancel</button>
      </formly-form>
    </form>
  </div>
</div>