<div class="container sidebar-container">


<h1>Edit Points</h1>

<div class="col-md-6">

  <form ng-submit="EditPoints.savePoints(EditPoints.data)">
    <div class="form-group">
      <label for="team_points_per_goal">Points per goal</label>
      <input class="form-control" type="number" ng-model="EditPoints.data.perGoal" name="team[points_per_goal]" id="team_points_per_goal">
    </div>
    <div class="form-group">
      <label for="team_points_per_assist">Points per assist</label>
      <input class="form-control" type="number" ng-model="EditPoints.data.perAssist" name="team[points_per_assist]" id="team_points_per_assist">
    </div>
    <div class="form-group">
      <label for="team_points_per_good_play">Points per good play</label>
      <input class="form-control" type="number" ng-model="EditPoints.data.perGoodPlay" name="team[points_per_good_play]" id="team_points_per_good_play">
    </div>
    <div class="form-group">
      <label for="team_points_per_checkin">Points per checkin</label>
      <input class="form-control" type="number" ng-model="EditPoints.data.perCheckin" name="team[points_per_checkin]" id="team_points_per_checkin">
    </div>
    <input type="submit" name="commit" value="Update Team" class="btn btn-primary">
    <div ng-show="EditPoints.alert">
      <alert ng-hide="close" close="close = true">Update Complete</alert>
    </div>
</form></div>
</div>


<div class="form-group dog-form-img">
    <label>Upload Dog Photo</label>
    <img ng-show="EditPoints.files[0].dataUrl" ng-src="" />
    <input type="file" ng-model="EditPoints.files" ng-file-select accept="images/*">
    <button ng-click="EditPoints.fileSelected(EditPoints.files,'123','martinpic.jpg')">Upload</button>
  </div>