<div class="container sidebar-container">
    <h1>Winterhawks</h1>
    <h2> Hockey </h2>
    <p>
      <a class="btn btn-default" href="/teams/1/players/new">Add one player</a>
      <a class="btn btn-default" href="/users/162">Back</a>
    </p>

    <div class="row">
      <h3>Current Roster</h3>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body panel-player-body">
              <div class="player-image">
                <a href="/teams/1/players/18"><img src="http://s3.amazonaws.com/pick6/players/avatars/000/000/018/medium/12-23-16USE.jpg?1422659891" alt="12 23 16use"></a>
              </div>
            </div>
            <a href="/teams/1/players/18">
              <div class="panel-footer player-name">
                 
              </div>
</a>          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body panel-player-body">
              <div class="player-image">
                <a href="/teams/1/players/19"><img src="http://s3.amazonaws.com/pick6/players/avatars/000/000/019/medium/7-13-17.jpg?1423872642" alt="7 13 17"></a>
              </div>
            </div>
            <a href="/teams/1/players/19">
              <div class="panel-footer player-name">
                 
              </div>
</a>          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body panel-player-body">
              <div class="player-image">
                <a href="/teams/1/players/20"><img src="http://s3.amazonaws.com/pick6/players/avatars/000/000/020/medium/42-25-44.jpg?1423872656" alt="42 25 44"></a>
              </div>
            </div>
            <a href="/teams/1/players/20">
              <div class="panel-footer player-name">
                 
              </div>
</a>          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body panel-player-body">
              <div class="player-image">
                <a href="/teams/1/players/21"><img src="http://s3.amazonaws.com/pick6/players/avatars/000/000/021/medium/9-2-43.jpg?1423872679" alt="9 2 43"></a>
              </div>
            </div>
            <a href="/teams/1/players/21">
              <div class="panel-footer player-name">
                 
              </div>
</a>          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body panel-player-body">
              <div class="player-image">
                <a href="/teams/1/players/23"><img src="http://s3.amazonaws.com/pick6/players/avatars/000/000/023/medium/19-4-21.jpg?1423872708" alt="19 4 21"></a>
              </div>
            </div>
            <a href="/teams/1/players/23">
              <div class="panel-footer player-name">
                 
              </div>
</a>          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body panel-player-body">
              <div class="player-image">
                <a href="/teams/1/players/24"><img src="http://s3.amazonaws.com/pick6/players/avatars/000/000/024/medium/27-26-36.jpg?1423872723" alt="27 26 36"></a>
              </div>
            </div>
            <a href="/teams/1/players/24">
              <div class="panel-footer player-name">
                 
              </div>
</a>          </div>
        </div>
    </div>


  </div>