<div class="col-md-12">
  <h2>All Players</h2>
  <a class="btn btn-default" ng-click="players.openAddPlayer()">Add a player</a>
  <div class="media" ng-repeat="player in players.playerList">
    <div class="media-left media-middle">
      <a href="#">
        <!-- {{players.playerList[0] | json}} -->
        <img class="media-object" ng-src="{{player.url}}" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{player.name}}</h4>
      {{player.number}}
    </div>
  </div>
</div>
