<div class="container sidebar-container">
    <h2>Create New Game:</h2>
      <form class="new_game" id="new_game" enctype="multipart/form-data" action="/teams/1/games" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="6MK5AQIxk14JCWu7AS/Gy3poh4x/odhUxyDT3+npAfhKyax2sfqr1p3DhanZ1QJtx+2LkxhZJWpsNvxgB2zkow==">
  <input value="1" type="hidden" name="game[team_id]" id="game_team_id">
  <div class="col-md-6">
  <div class="form-group">
    <label for="game_opponent">Opponent</label>
    <input class="form-control" type="text" name="game[opponent]" id="game_opponent">
  </div>
  <div class="form-group">
    <label for="game_Opponent Logo">Opponent logo</label>
    <input type="file" name="game[opponent_logo]" id="game_opponent_logo">
  </div>
  <div class="form-group">
    <label for="game_game_date">Game date</label>
    <input class="form-control" type="date" name="game[game_date]" id="game_game_date">
  </div>
  <div class="form-group">
    <label for="game_game_time">Game time</label>
    <input class="form-control" type="time" name="game[game_time]" id="game_game_time">
  </div>
  <div class="form-group">
    <label for="game_address">Address</label>
    <input class="form-control" type="text" name="game[address]" id="game_address">
  </div>
  <input type="submit" name="commit" value="Create Game" class="btn btn-primary">
  </div>
</form>     
  </div>