.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.navigation {
  margin-bottom: 0;
  background-color: #149c82;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
// injector
// endinjector

@import 'scss/splash';
@import 'scss/navbar';