<ul class="nav navbar-nav side-nav sidebar">
  <li>
    <a ui-sref="team.dashboard">
    <i class="fa fa-dashboard"></i> Team Dashboard
    </a>
  </li>
  <li>
    <a ui-sref="team.editPoints">
    <i class="fa fa-gears"></i> Edit Points
    </a>
  </li>
  <li>
    <a ui-sref="team.players">
    <i class="fa fa-users"></i> Players
    </a>
  </li>
  <li>
    <a ui-sref="team.createGame">
    <i class="fa fa-edit"></i> Create New Game
    </a>
  </li>
  <li>
    <a ui-sref="team.games">
    <i class="fa fa-gear"></i> All Games
    </a>
  </li>
  <li>
    <a ui-sref="team.badges">
    <i class="fa fa-bookmark-o"></i> Badges
    </a>
  </li>
  <li>
    <a ui-sref="team.coupons">
    <i class="fa fa-trophy"></i> Coupons
    </a>
  </li>
  <li>
    <a rel="nofollow" data-method="delete" ng-click="signOut();">
    <i class="fa fa-sign-out"></i> Log Out
    </a>
  </li>
</ul>
