<nav class="navbar navbar-inverse navbar-main-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Pick a Player</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/teams/1">Signed in as: pick6admin</a></li>
          <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
