<div class="container sidebar-container">
  <h2>Create New Game:</h2>
  <form name="addGame.gameForm" ng-submit="addGame.saveGame(addGame.gameForm.$valid, addGame.files)" novalidate>
    <formly-form model="addGame.formData" fields="addGame.formFields" class="col-md-6">
    <input type="file" ng-model="addGame.files" ng-file-select accept="images/*">
      <button type="submit" class="btn btn-primary">Create Game</button>
    </formly-form>
  </form>
</div>
<div ng-show="addGame.gameAdded">
  <alert ng-hide="close" close="close = true">Game Added</alert>
</div>