<div class="container sidebar-container">
  <h2>All Games</h2>
  <hr>
    <div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div class="game">
        </div><div id="wrapper">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
      <li>
        <a href="/teams/1">
          <i class="fa fa-dashboard"></i> Team Dashboard
</a>      </li>
      <li>
        <a href="/teams/1/edit">
          <i class="fa fa-gears"></i> Edit Points
</a>      </li>
      <li>
        <a href="/teams/1/players">
          <i class="fa fa-users"></i> Players
</a>      </li>
      <li>
        <a href="/teams/1/games/new">
          <i class="fa fa-edit"></i> Create New Game
</a>      </li>
      <li>
        <a href="/teams/1/games">
          <i class="fa fa-gear"></i> All Games
</a>      </li>
      <li>
        <a href="/teams/1/badges">
          <i class="fa fa-bookmark-o"></i> Badges
</a>      </li>
      <li>
        <a href="/teams/1/coupons">
          <i class="fa fa-trophy"></i> Coupons
</a>      </li>
      <li>
        <a rel="nofollow" data-method="delete" href="/users/sign_out">
          <i class="fa fa-sign-out"></i> Log Out
</a>      </li>
    </ul>
  </div>
</div><table class="table">
      <tbody><tr>
        <th>Date</th>
        <th>Time</th>
        <th>Opponent</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr>
        <td><a href="/teams/1/games/1">Dec 15, 2014</a></td>
        <td><a href="/teams/1/games/1">06:00 PM</a></td>
        <td><a href="/teams/1/games/1">Starz</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/1/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/1">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/2">Dec 16, 2014</a></td>
        <td><a href="/teams/1/games/2">09:15 AM</a></td>
        <td><a href="/teams/1/games/2">HH</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/2/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/2">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/3">Dec 17, 2014</a></td>
        <td><a href="/teams/1/games/3">09:20 AM</a></td>
        <td><a href="/teams/1/games/3">Apple Reviewers</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/3/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/3">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/4">Dec 18, 2014</a></td>
        <td><a href="/teams/1/games/4">09:07 AM</a></td>
        <td><a href="/teams/1/games/4">Apple Reviewers</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/4/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/4">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/5">Dec 19, 2014</a></td>
        <td><a href="/teams/1/games/5">11:39 AM</a></td>
        <td><a href="/teams/1/games/5">Apple Reviewers</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/5/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/5">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/6">Dec 20, 2014</a></td>
        <td><a href="/teams/1/games/6">07:58 AM</a></td>
        <td><a href="/teams/1/games/6">Apple Reviewers</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/6/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/6">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/7">Dec 23, 2014</a></td>
        <td><a href="/teams/1/games/7">11:46 AM</a></td>
        <td><a href="/teams/1/games/7">Hecklers </a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/7/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/7">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/8">Dec 28, 2014</a></td>
        <td><a href="/teams/1/games/8">05:00 PM</a></td>
        <td><a href="/teams/1/games/8">Spokane</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/8/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/8">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/9">Dec 31, 2014</a></td>
        <td><a href="/teams/1/games/9">08:00 PM</a></td>
        <td><a href="/teams/1/games/9">Seattle</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/9/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/9">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/10">Jan 03, 2015</a></td>
        <td><a href="/teams/1/games/10">07:00 PM</a></td>
        <td><a href="/teams/1/games/10">Tri-Cities</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/10/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/10">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/28">Feb 12, 2015</a></td>
        <td><a href="/teams/1/games/28">01:50 PM</a></td>
        <td><a href="/teams/1/games/28">Test Epicodus 2</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/28/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/28">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/21">Jan 30, 2015</a></td>
        <td><a href="/teams/1/games/21">07:00 PM</a></td>
        <td><a href="/teams/1/games/21">Kamloops</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/21/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/21">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/11">Jan 10, 2015</a></td>
        <td><a href="/teams/1/games/11">07:00 PM</a></td>
        <td><a href="/teams/1/games/11">Vancouver Giants</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/11/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/11">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/15">Jan 23, 2015</a></td>
        <td><a href="/teams/1/games/15">07:00 PM</a></td>
        <td><a href="/teams/1/games/15">Spokane Chiefs</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/15/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/15">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/16">Jan 25, 2015</a></td>
        <td><a href="/teams/1/games/16">05:00 PM</a></td>
        <td><a href="/teams/1/games/16">Tri-Cities Americans</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/16/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/16">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/18">Jan 27, 2015</a></td>
        <td><a href="/teams/1/games/18">05:51 PM</a></td>
        <td><a href="/teams/1/games/18">Test</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/18/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/18">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/22">Jan 31, 2015</a></td>
        <td><a href="/teams/1/games/22">07:00 PM</a></td>
        <td><a href="/teams/1/games/22">Everett</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/22/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/22">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/23">Feb 05, 2015</a></td>
        <td><a href="/teams/1/games/23">09:00 AM</a></td>
        <td><a href="/teams/1/games/23">test</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/23/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/23">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/24">Feb 08, 2015</a></td>
        <td><a href="/teams/1/games/24">04:00 AM</a></td>
        <td><a href="/teams/1/games/24">manuel_test</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/24/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/24">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/19">Jan 28, 2015</a></td>
        <td><a href="/teams/1/games/19">07:00 PM</a></td>
        <td><a href="/teams/1/games/19">Victoria</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/19/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/19">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/20">Jan 29, 2015</a></td>
        <td><a href="/teams/1/games/20">07:13 PM</a></td>
        <td><a href="/teams/1/games/20">test</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/20/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/20">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>
      <tr>
        <td><a href="/teams/1/games/29">Feb 13, 2015</a></td>
        <td><a href="/teams/1/games/29">07:00 PM</a></td>
        <td><a href="/teams/1/games/29">Tri-Cities</a></td>
        
        <td>
          <div class="edit-game">
            <a href="/teams/1/games/29/edit">
              <i class="fa fa-edit"></i>
</a>          </div>
        </td>
        <td>
          <div class="delete-mark">
            <a rel="nofollow" data-method="delete" href="/teams/1/games/29">
              <i class="glyphicon glyphicon-remove"></i>
</a>          </div>
        </td>
      </tr>

</tbody></table></div>

