<div id="wrapper">
  <div class="container sidebar-container">
    <div class="col-md-12">
      <h2>All Badges</h2>
      <button class="btn btn-default" ng-click="badges.openAddBadge()">Add Badge</button>
      <table class="table table-striped" st-table="badges.couponList">
        <tr>
          <th>Name</th>
          <th>Points</th>
          <th>Secret Code</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr ng-repeat="coupon in badges.badgeList">
          <td>{{coupon.name}}</td>
          <td>{{coupon.points}}</td>
          <td>{{coupon.secretCode}}</td>
          <td><i class="fa fa-edit pointer" ng-click="badges.editCoupon(coupon)"></i></td>
          <td><i class="glyphicon glyphicon-remove pointer" ng-click="badges.removeCoupon($index)"></i></td>
        </tr>
      </table>
    </div>
  </div>
</div>
