<div class="container sidebar-container">
    <div class="row">
      <div class="col-md-3">
        <h3>Top Players</h3>
        <ol>
            <li></li>
            <li></li>
            <li></li>
        </ol>
      </div>
      <div class="col-md-3">
        <h3>Top Badges</h3>
        <ol>
            <li>White Jersey</li>
            <li>US Division Team</li>
            <li>Moda Center Game</li>
        </ol>
      </div>
      <div class="col-md-3">
        <h3>Top Coupons</h3>
        <ol>
        </ol>
      </div>
      <div class="col-md-3">
        <h3>Top #</h3>
        <ol>
            <li>#winterhawks</li>
            <li>#GoHawks</li>
            <li>#gohawks</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <h1>Winterhawks</h1>
        <h2>Fan Data</h2>
        <div google-chart chart="dashboard.fanAttendance"></div>
      </div>
      <div class="col-md-3">
        <h3>Top Fan Scores</h3>
        <h3>Tonight's Game</h3>
        <ol>
            <li>Kda0621</li>
            <li>Coug2022</li>
            <li>Breakout12</li>
            <li>jhoodenpyl06</li>
            <li>OldWazzu</li>
          <li>JJZ</li>
        </ol>
        <h3>All-Time</h3>
        <ol>
            <li>Nicklawson</li>
            <li>Mopineyro</li>
            <li>Apple1</li>
            <li>Krobinett</li>
            <li>RichF</li>
        </ol>
      </div>
    </div>
</div>